@model IEnumerable<squeletteWeb.Models.MagasinProduitModel>
@{
    ViewBag.Title = "lister la table MagasinProduit";
}

<h2>listerMagasinProduit</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NomMagasin)</th>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.stock)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => m.NomMagasin)</td>
                <td>@Html.DisplayFor(modelItem => m.Nom)</td>
                <td>@Html.DisplayFor(modelItem => m.stock)</td>
            </tr>
        }
    </tbody>
</table>