@*Appel du modèle qui sera utilisé*@
@model squeletteWeb.Métier.Produit
@{
    ViewBag.Title = "AjouterProduit";
}

<h2>AjouterProduit</h2>
@*Ecriture du formulaire*@
<div class="form-horizontal">
    @using (Html.BeginForm("AjouterProduit", "Produit", FormMethod.Post))
    {
        <span>@Html.DisplayNameFor(model => model.Nom) :</span><span>@Html.TextBoxFor(model => model.Nom)</span><br />
        <span>@Html.DisplayNameFor(model => model.Prix) :</span><span>@Html.TextBoxFor(model => model.Prix)</span> <br />
        <span>@Html.DisplayNameFor(model => model.Description) :</span><span>@Html.TextBoxFor(model => model.Description)</span><br />
        <span>@Html.DisplayNameFor(model=>model.categorie)</span><span>@Html.DropDownList("CategorieId")</span>
        <button type="submit">Ajouter</button>
    }
</div>