@model IEnumerable<squeletteWeb.Models.ProduitCatModel>
@{
    ViewBag.Title = "Index";
}

<h2>Liste des produits</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.ProduitId)</th>
            <th>@Html.DisplayNameFor(model=>model.Nom)</th>
            <th>@Html.DisplayNameFor(model=>model.Prix)</th>
            <th>@Html.DisplayNameFor(model=>model.Description)</th>
            <th>@Html.DisplayNameFor(model=>model.NomCategorie)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>p.ProduitId)</td>
                <td>@Html.DisplayFor(modelItem=>p.Nom)</td>
                <td>@Html.DisplayFor(modelItem=>p.Prix)</td>
                <td>@Html.DisplayFor(modelItem=>p.Description)</td>
                <td>@Html.DisplayFor(modelItem=>p.NomCategorie)</td>
                <td>@Html.ActionLink("Modifier", "Editer", new { id = p.ProduitId }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Supprimer", "Delete", new { id = p.ProduitId }, new { @class = "btn btn-danger" })</td>

            </tr> 
            
        }
    </tbody>
</table>
