@model IEnumerable<squeletteWeb.Métier.Client>
@{
    ViewBag.Title = "IndexClient";
}

<h2>Liste des clients</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ClientId)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Surname)</th>
            <th>@Html.DisplayNameFor(model => model.Salary)</th>
            <th>@Html.DisplayNameFor(model => model.BonusPercent)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => p.ClientId)</td>
                <td>@Html.DisplayFor(modelItem => p.Name)</td>
                <td>@Html.DisplayFor(modelItem => p.Surname)</td>
                <td>@Html.DisplayFor(modelItem => p.Salary)</td>
                <td>@Html.DisplayFor(modelItem => p.BonusPercent)</td>
                <td>@Html.DisplayFor(modelItem => p.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => p.StartTime)</td>
            </tr>

        }
    </tbody>
</table>
